::ng-deep .panel {
  .p-panel.p-panel-toggleable .p-panel-header {
    background-color: var(--bg);
    color: var(--secondary-color-text);
    border: none;
  }

  .p-panel-title {
    color: var(--primary-color-text);
  }

  .p-panel .p-panel-header .p-panel-header-icon {
    background-color: var(--bg-white);
  }

  .p-panel .p-panel-header .p-panel-header-icon:focus {
    box-shadow: 0 0 0 0.2rem var(--secondary-color);
  }
}

.panel__description {
  margin-bottom: 10px;
}
.panel__item {
  margin-left: 20px;
}
