.welcome__contain {
  position: relative;
  border-radius: var(--border-radius);
  background: var(--background-contain);
  backdrop-filter: blur(10px);
  transition: all 0.2s linear 0s;
  width: 90%;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.scroll {
  width: 90%;
  margin: 0 auto;
}

.card {
  display: inline-block;
  margin-right: 15px;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  padding: 8px;
  overflow: hidden;
  background-image: url(../../../../assets/images/bg-geo-ban.png);
  border-radius: var(--border-radius);
  cursor: grab;

  .card__img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 25px;
    object-fit: contain;
  }

  .card__text {
    color: var(--color-text);
    font-size: var(--font-size-sm);
    text-align: center;
    font-weight: var(--font-bold);
  }

  .card__value {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  .welcome__contain {
    width: 100%;
  }

  /* .scroll {
    position: static;
    padding: 0 10px;

    .card {
      width: 40%;
    }
  } */
}

@media screen and (max-width: 650px) {
  /* .scroll {
    width: 90%;
  } */
}
