.home__container {
  width: 90%;
  margin: 0 auto;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .welcome__legend {
    padding: 17px;
  }

  .welcome__title,
  .welcome__user {
    font-size: var(--title-size);
  }

  .welcome__text {
    margin: 15px 0 10px;
  }

  .welcome__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--color-icon);
    cursor: pointer;

    .welcome__img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(449%)
        hue-rotate(235deg) brightness(117%) contrast(100%);
    }

    .welcome__text__btn {
      color: var(--color-text);
      font-weight: var(--font-bold);
    }
  }

  .welcome__btn:hover {
    opacity: 0.8;
  }
}

app-scroll-items {
  width: 100%;
}

.statistic {
  margin-top: 55px;
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 1300px) {
  .welcome {
    flex-direction: column;
  }
  .welcome__legend {
    text-align: center;
  }

  .welcome__btn {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }

  /*  .welcome__legend {
    order: 1;
  } */

  /*  .welcome__legend {

    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .welcome__btn {
    margin: 0 auto;
    justify-content: center;
  }

  .welcome__contain {
    position: static;
    margin: 0 auto;
    max-width: 90%;
    border-radius: var(--border-radius);
  } */
}

@media screen and (max-width: 650px) {
  .welcome {
    .welcome__legend {
      width: 70%;
    }
  }
}
