.home__container {
  width: 100%;
  height: 96%;
  padding: 10px 35px;
}

.welcome {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.welcome__legend {
  flex-grow: 1;
  padding: 17px;
}

.welcome__title,
.welcome__user {
  font-size: var(--title-size);
}

.welcome__text {
  margin: 15px 0 10px;
}

.welcome__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-icon);
  cursor: pointer;

  .welcome__img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(449%)
      hue-rotate(235deg) brightness(117%) contrast(100%);
  }

  .welcome__text__btn {
    color: var(--color-text);
    font-weight: var(--font-bold);
  }

  &:hover {
    opacity: 0.8;
  }
}

app-statistics ,app-tasks{
  margin-top: 55px;
  width: 100%;
  height: 300px;
}


@media screen and (max-width: 1300px) {
  .welcome {
    flex-wrap: wrap;
  }

  .welcome__legend {
    text-align: center;
  }

  .welcome__btn {
    justify-content: center;
    width: 50%;
    margin: 15px auto 0;
  }
}

@media screen and (max-width: 700px) {
  .home__container {
    padding: 10px 14px;
  }

  .welcome__title,
  .welcome__user {
    font-size: 1.7rem;
  }

  .welcome__btn {
    width: 100%;
  }
}
