.profile__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.router {
  width: 100%;
  height: 615px;
  flex: 1 1 100%;
  overflow: auto;
}
