.header {
  backdrop-filter: blur(10px);
  transition: all 0.2s linear 0s;
  max-width: 100%;
  padding: 20px;
  margin: 16px 16px 16px 16px;
  border-radius: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar__currPage {
    font-size: 0.9rem;
  }

  .navbar__link {
    background: var(--bg-dark-gradient);

    text-decoration: none;
    color: var(--color-text);
    padding: 0.3rem;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .navbar__picture .navbar__img {
      color: var(--color-text);
      filter: var(--invert-white-color);
    }

    &:hover .navbar__picture .navbar__img {
      filter: var(--invert-purple-color);
    }

    &:hover {
      color: var(--color-icon);
    }
  }
}
