<header class="header">
  <button  class="header__menu" (click)="activeMenu()">
    <img
      src="../../../../assets/images/icons/menu.svg"
      alt="icon"
      class="header__img"
    />
  </button>
  <nav class="navbar">
    <span class="navbar__currPage"> Pagina / {{ currPage }} </span>
    <a routerLink="auth/login" class="navbar__link">
      <picture class="navbar__picture">
        <img
          src="../../../../assets/images/icons/user.svg"
          alt="user icon"
          class="navbar__img"
        />
      </picture>
      Login
    </a>
  </nav>
</header>
