.header {
  display: flex;
  align-items: center;
  gap: 45px;
  backdrop-filter: blur(10px);
  transition: all 0.2s linear 0s;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 16px;
}

.header__menu {
  border: none;
  filter: var(--invert-white-color);
  display: none;
  cursor: pointer;
}

.header__menu:active {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; /* POR EL PADRE */

  .navbar__currPage {
    font-size: 0.9rem;
    color: var(--primary-color-text);
  }

  .navbar__link {
    --border-radius: 10px;
    background: var(--bg-dark-gradient);
    text-decoration: none;
    color: var(--primary-color-text);
    padding: 0.3rem;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar__picture .navbar__img {
      color: var(--primary-color-text);
      filter: var(--invert-white-color);
    }

    &:hover .navbar__picture .navbar__img {
      filter: var(--invert-purple-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 1300px) {
  .header__menu {
    display: block;
  }
}
