// dashboard
.private__container {
  display: grid;
  grid-template-columns: 276px 1fr;
}

.content,
// landing page
.public__landing {
  color: var(--color-text);
  padding: 20px 15px;
}

@media screen and (max-width: 1300px) {
  .private__container {
    grid-template-columns: 1fr;
  }
}

