<section class="tasks">
  <article class="tasks__projects">
    <p class="tasks__title">Proyectos</p>
    <div class="tasks__legend">
      <span class="tasks__text">30 hecho este mes.</span>
    </div>
    <table class="tasks__table">
      <tr>
        <th>Compañías</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Miembros</th>
        <th>Presupuesto</th>
        <th>Terminación</th>
      </tr>
      <tr>
        <td>Versión de interfaz de usuario suave de Chakra</td>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td>4</td>
        <td>$14,000</td>
        <td>60%</td>
      </tr>
    </table>
  </article>
  <article class="tasks__todo"></article>
</section>
