<section class="tasks">
  <article class="tasks__projects">
    <p class="tasks__title">Proyectos</p>
    <div class="tasks__legend">
      <span class="tasks__text">30 hecho este mes.</span>
    </div>
    <table class="tasks__table">
      <tr>
        <th>Compañías</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Miembros</th>
        <th>Presupuesto</th>
        <th>Terminación</th>
      </tr>
      <tr *ngFor="let task of gridData">
        <td>{{ task.company }}</td>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td>{{ task.members }}</td>
        <td>${{ task.budget | number }}</td>
        <td>% {{ task.termination }}</td>
      </tr>
    </table>
  </article>
  <article class="tasks__todo">
    <h2 class="tasks__info">Calendario de pedidos</h2>
    <ul class="tasks__list">
      <li class="tasks__item" *ngFor="let item of order">
        <div class="tasks__progress">
          <span class="tasks__dot" [style.backgroundColor]="item.color"></span>
          <span class="tasks__line"></span>
        </div>
        <div class="tasks__description">
          <h6 class="tasks__titleOrder">{{ item.message }}</h6>
          <span class="tasks__textOrder">{{ item.date }}</span>
        </div>
      </li>
    </ul>
  </article>
</section>

<section class="social">
  <h2 class="social__title">Tráfico por sitio</h2>
  <article class="social__traffic">
    <div class="social__network" *ngFor="let network of social">
      <img
        [src]="network.image | image"
        [alt]="network.text"
        class="social__logo"
      />
      <h3 class="social__follow">{{ network.value }}</h3>
      <span class="social__name">{{ network.text }}</span>
    </div>
  </article>
</section>
