<p>project-info works!</p>
<a routerLink="/dashboard/projects">go bak</a>
<section class="board">
  <section class="board__wrapper">
    <div class="board__columns" cdkDropListGroup>
      <div class="board__column" *ngFor="let column of board.columns">
        <div class="column__title">
          {{ column.name }}
        </div>
        <div
          class="tasks__container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
