// dialog
:host {
  ::ng-deep {
    .active {
      background: var(--primary-color) !important;
      border-radius: var(--border-radius);
      color: var(--primary-color-text);
    }

    .p-dialog-header-close-icon {
      color: var(--primary-color-text);
      transition: var(--hover-items-transition);

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

// board actions
.board__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;

  .actions__add {
    background: var(--bg-dark-gradient);
    color: var(--primary-color-text);
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 0.3rem 0.5rem;
    border: none;
    transition: var(--hover-items-transition);
    font-weight: bold;

    &:hover {
      background: var(--secondary-color);
      color: var(--secondary-color-text);
    }
  }

  .action__back {
    color: var(--primary-color-text);
    text-decoration: none;
    transition: var(--hover-items-transition);
    border-radius: var(--border-radius);
    padding: 0.3rem 0.5rem;

    &:hover {
      background: var(--bg-glass-gray);
      color: var(--secondary-color);
    }
  }
}

.dialog__container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  .dialog__task,
  .dialig__task--add {
    border-radius: var(--border-radius);
    padding: 0.3rem;
    border: none;
    color: var(--secondary-color-text);
  }

  .dialog__task {
    width: 100%;

    &:focus {
      background: var(--color-hover-text);
      outline: none;
    }
  }

  .dialig__task--add {
    cursor: pointer;
    font-weight: bold;
    transition: var(--hover-items-transition);

    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color-text);
    }
  }
}

// board
.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board__bar {
    background: var(--bg-dark-gradient);
    padding: 8px 15px;

    .board__name {
      font-size: 20px;
      font-weight: bold;
      color: var(--primary-color-text);
    }
  }

  .board__wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board__columns {
      height: calc(100vh - 120px);
      display: flex;
      flex-grow: 1;

      .board__column {
        background: var(--bg-glass-gray);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 200px;
        margin: 50px;
        padding: 25px;
        border-radius: var(--border-radius);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column__title {
          color: var(--primary-color-text);
          font-size: 20px;
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.tasks__container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  background: var(--background-contain);
  color: var(--primary-color-text);
  display: flex;
  padding: 15px 12px;
  border-bottom: solid 1px var(--primary-color-text);
  border-radius: var(--border-radius);
  margin-bottom: 25px;
  box-shadow: var(--box-shadow);
  transition: var(--hover-items-transition);

  &:hover {
    cursor: grab;
    color: var(--secondary-color);
    background: var(--bg-dark-gradient);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// media queries
@media screen and (max-width: 880px) {
  .board {
    margin-bottom: 2rem;
  }

  .board__columns {
    display: grid;
    flex-direction: column;
  }
  .board__column {
    margin: 30px 5% !important;
  }
}
