<section class="container">
  <section class="banner">
    <div>
      <h1 class="banner__title">Crea tu cuenta!</h1>
      <p class="banner__description">
        Nos esforzamos por ser la mejor plataforma del mercado para la gestión
        de equipos y proyectos. Ahora, estamos ampliando nuestro alcance al
        proporcionar una experiencia educativa excepcional para tus
        colaboradores, todo dentro del mismo sistema y a solo un clic de
        distancia.
      </p>
    </div>
  </section>

  <section class="login">
    <form action="" class="login__form">
      <h2>Crear cuenta</h2>
      <div *ngFor="let item of signupForm">
        <label [for]="item.name">
          <picture>
            <img [src]="item.icon" [alt]="item.name" class="form__icon" />
          </picture>
        </label>
        <input
          class="form__input"
          [name]="item.name"
          [type]="item.type"
          [placeholder]="item.placeholder"
          required
        />
      </div>
      <button class="form__btn" type="submit">
        <Span>Resgistrar</Span>
      </button>
      <div class="form__others">
        <button class="others__btn">
          <picture class="others__picture">
            <img
              src="../../../../assets/images/icons/google.svg"
              alt="google"
              class="others__logo"
              class="form__icon"
            />
          </picture>
        </button>
      </div>
      <p class="login__info">
        Ya tienes una cuenta creada?
        <a routerLink="/init/signin" class="form__signin">
          <span>Inicia session.</span>
        </a>
      </p>
    </form>
  </section>
</section>
